@import './config/config';
@import './config/variables';
@import './pages/cities/City'; 
@import './pages/cities/Cities'; 
@import './pages/properties/Property';
@import './pages/properties/Properties';

html, body{
    margin: 0;
    padding: 0;
    // font-family: 'Cormorant Garamond', serif;
    // font-family: 'PT Serif', serif;
    // font-family: 'Syne', sans-serif;
    // font-family: 'Space Grotesk', sans-serif;
    // font-family: 'Ultra', serif;
}

h1{
    font-family: $headerFont;
    font-size: 6em;
    overflow-wrap: break-word;
    // font-size: 100em;
    // font-family: 'Space Grotesk', sans-serif;
    // font-family: 'Ultra', serif;
}

h2, h6{
    font-family: 'Syne', sans-serif;
    font-size: 4em;
    overflow-wrap: break-word;
}

h3, h4{
    font-family: 'Syne', sans-serif;

}

p, li, input, label, button, a{
    // font-family: 'Cormorant Garamond', serif;
    font-family: 'Fahkwang', sans-serif;
    // font-size: 10em;
    // font-family: 'Space Grotesk', sans-serif;
}

img{
    object-fit: cover;
    object-position: top;
}

.property_images{
    display: inline;
}

.profile_pic{
    width: 80px;
    height: 80px;
    clip-path: circle(50%);
    object-fit: cover;
}

.nav_pic{
    width: 40px;
    height: 40px;
    clip-path: circle(50%);
    object-fit: cover;
    margin-top: -0.5em;
}

// .nav_profile{
//     height: 200px;
//     background-color: aquamarine;
//     // span{
//         display: inline;
//     // }
// }

input, button{
    border: 1px solid pink;
    padding: 1.5em;
  
    transition: all .2s ease-in-out;

    &:hover{
        font-size: 0.9em;
        transition: all .2s ease-in-out;
        // color:white;
    }
}

::-webkit-file-upload-button {
    border: 1px solid pink;
    background: pink;
    padding: 1em;
    font-family: 'Fahkwang', sans-serif;
    cursor: pointer;
  }

input[type="file"]{
    border: none;
}

button{
    cursor: pointer;
    background-color: pink;
    width: 150px;
    height: 90px;
    // position: absolute;
    // right: 0;
}

div.react-datepicker-wrapper{
    // display: inline;
    width: 50%;
    margin: -32px;
    // position: relative;

    .react-datepicker__input-container{
        width: 20%;
        
        
    }
}

// .booking_class{
//     width: 100%;
//     display: inline-block;

//     span{
//         width: 25%;
//     }
// }

nav{
    // 
    // background-color: aquamarine;
    height: 100%;
    ul{
        padding: 2em 0;

        li{
            display: inline;
            list-style: none;
            margin-right: 2em;

            a{
                text-decoration: none;
                color: black;
            }

            &:nth-child(1){
                margin-left: 2em;
            }

            &:nth-child(8){
                position: absolute;
                right: 4em;
                width: 100px;
                height: 50px;
                text-align: center;
                
                span{
                    display: inline-block;
                    vertical-align: top;
                }
            }

            &:nth-child(9){
                position: absolute;
                right: 0;
            }
        }
    }
}

.amenities{
    padding: 1em 0 5em 3em;

    li{
        list-style-type: circle;
    }
}