* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  padding: auto;
}

.city_body {
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.city_body div div {
  margin: 2em;
}

.city_body div div a {
  color: inherit;
  text-decoration: inherit;
}

.city_body div div a img {
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
}

.city_body div div:hover {
  background-color: aquamarine;
}

.city_body div div:hover img {
  -webkit-filter: initial;
          filter: initial;
}

.cities_body div a {
  text-decoration: none;
  color: black;
  font-family: "Syne", sans-serif;
}

.cities_body div a:hover {
  color: pink;
  text-decoration: line-through;
}

.property_body {
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.property_body div {
  margin: 2em;
}

.property_body div img {
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
}

.properties_body div div a {
  text-decoration: none;
  color: black;
}

.properties_body div div:hover {
  background-color: pink;
}

html, body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Syne", sans-serif;
  font-size: 6em;
  overflow-wrap: break-word;
}

h2, h6 {
  font-family: 'Syne', sans-serif;
  font-size: 4em;
  overflow-wrap: break-word;
}

h3, h4 {
  font-family: 'Syne', sans-serif;
}

p, li, input, label, button, a {
  font-family: 'Fahkwang', sans-serif;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.property_images {
  display: inline;
}

.profile_pic {
  width: 80px;
  height: 80px;
  -webkit-clip-path: circle(50%);
          clip-path: circle(50%);
  -o-object-fit: cover;
     object-fit: cover;
}

.nav_pic {
  width: 40px;
  height: 40px;
  -webkit-clip-path: circle(50%);
          clip-path: circle(50%);
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: -0.5em;
}

input, button {
  border: 1px solid pink;
  padding: 1.5em;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

input:hover, button:hover {
  font-size: 0.9em;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

::-webkit-file-upload-button {
  border: 1px solid pink;
  background: pink;
  padding: 1em;
  font-family: 'Fahkwang', sans-serif;
  cursor: pointer;
}

input[type="file"] {
  border: none;
}

button {
  cursor: pointer;
  background-color: pink;
  width: 150px;
  height: 90px;
}

div.react-datepicker-wrapper {
  width: 50%;
  margin: -32px;
}

div.react-datepicker-wrapper .react-datepicker__input-container {
  width: 20%;
}

nav {
  height: 100%;
}

nav ul {
  padding: 2em 0;
}

nav ul li {
  display: inline;
  list-style: none;
  margin-right: 2em;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li:nth-child(1) {
  margin-left: 2em;
}

nav ul li:nth-child(8) {
  position: absolute;
  right: 4em;
  width: 100px;
  height: 50px;
  text-align: center;
}

nav ul li:nth-child(8) span {
  display: inline-block;
  vertical-align: top;
}

nav ul li:nth-child(9) {
  position: absolute;
  right: 0;
}

.amenities {
  padding: 1em 0 5em 3em;
}

.amenities li {
  list-style-type: circle;
}
/*# sourceMappingURL=main.css.map */